:root {
    --choiceBottomSpace: 6%;
    --startingHealth: 100%;
    --startingHealthColor: #2dc9328a;


    --practiceHealthColor: #646464;
    --highHealthColor: #4388a5;
    --goodHealthColor:#23de12;
    --halfHealthColor: #f4f12b;
    --lowHealthColor: #ab2929;
}  

@font-face {
    font-family: 'HeyComic'; /* Specify a name for your font */
    src: url("../fonts/HeyComic.otf") format('opentype'); /* Specify the path to your .otf font file */
}

.choicesContainer{
    position: relative;
}

.choice1Container {
    background-color: #646464;
    padding: 2vw;

    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: var(--choiceBottomSpace);

    position: relative;
    user-select: none;
    
    cursor: pointer;

    z-index: 1;

    word-wrap: break-word;       /* Internet Explorer 5.5+ */;

    border-style: solid;
    border-color: #000;
    border-width: 1.1vw;

    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;   
}

.choice2Container {
    background-color: #646464;
    padding: 2vw;

    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: var(--choiceBottomSpace);

    position: relative;
    user-select: none;

    cursor: pointer;

    z-index: 1;

    word-wrap: break-word;       /* Internet Explorer 5.5+ */;

    border-style: solid;
    border-color: #000;
    border-width: 1.1vw;

    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.choice3Container {
    background-color: #646464;
    padding: 2vw;

    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: var(--choiceBottomSpace);

    position: relative;
    user-select: none;

    cursor: pointer;

    z-index: 1;

    word-wrap: break-word;       /* Internet Explorer 5.5+ */;

    border-style: solid;
    border-color: #000;
    border-width: 1.1vw;

    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.choice4Container {
    background-color: #646464;
    padding: 2vw;

    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: var(--choiceBottomSpace);

    position: relative;
    user-select: none;

    cursor: pointer;

    z-index: 1;

    word-wrap: break-word;       /* Internet Explorer 5.5+ */;

    border-style: solid;
    border-color: #000;
    border-width: 1.1vw;

    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.health1 {
    background-color: var(--startingHealthColor);
    width: var(--startingHealth);
    height: 100%;
    position: absolute;

    top: 0%;
    left: 0%;

    z-index: -3;

    width: "100%";

}

.health2 {
    background-color: var(--startingHealthColor);
    width: var(--startingHealth);
    height: 100%;
    position: absolute;

    top: 0%;
    left: 0%;

    z-index: -3;

    width: "100%";
}

.health3 {
    background-color: var(--startingHealthColor);
    width: var(--startingHealth);
    height: 100%;
    position: absolute;

    top: 0%;
    left: 0%;

    z-index: -3;

    width: "100%";

}

.health4 {
    background-color: var(--startingHealthColor);
    width: var(--startingHealth);
    height: 100%;
    position: absolute;

    top: 0%;
    left: 0%;

    z-index: -3;

    width: "100%";
}

/* Enumaration */ /* Enumaration */ /* Enumaration */ /* Enumaration */ /* Enumaration */ /* Enumaration */ /* Enumaration */ /* Enumaration */ /* Enumaration */ /* Enumaration */ /* Enumaration */ 
/* Enumaration */ /* Enumaration */ /* Enumaration */ /* Enumaration */ /* Enumaration */ /* Enumaration */ /* Enumaration */ /* Enumaration */ /* Enumaration */ /* Enumaration */ /* Enumaration */ 
/* Enumaration */ /* Enumaration */ /* Enumaration */ /* Enumaration */ /* Enumaration */ /* Enumaration */ /* Enumaration */ /* Enumaration */ /* Enumaration */ /* Enumaration */ /* Enumaration */ 

.enumSubContainer{
    background-color: #646464;
    padding: 2vw;

    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: var(--choiceBottomSpace);

    position: relative;
    user-select: none;

    cursor: pointer;

    z-index: 1;

    word-wrap: break-word;       /* Internet Explorer 5.5+ */;

    border-style: solid;
    border-color: #000;
    border-width: 1.1vw;

    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  

    margin-top: 5vw;
}

.enumHealth {
    background-color: var(--startingHealthColor);
    width: var(--startingHealth);
    height: 100%;
    position: absolute;

    top: 0%;
    left: 0%;

    z-index: -3;

    width: "100%";
}

.enumAnswer {
    width: 85%;
    font-family: 'HeyComic';

    text-align: center;

    padding: 2vw;
    font-size: 5vw;
}

.enumSubmit {
    color: #ffffff;
    font-family: 'HeyComic';

    font-size: 5vw;

    user-select: none;

    cursor: pointer;
}

.enumChoices{
    display: flex;
    font-family: 'HeyComic';
    justify-content: center; /* horizontally centers the items */
    align-items: center; /* vertically centers the items */

    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;  

    font-size: 4.5vw;
}

.enumFlexContainer{
    display: flex;
    width: 90%;
    margin-top: 3vw;
    flex-wrap: wrap;
}

.enumFlexItem{
    flex: 1; /* Each item will grow equally to fill the available space */
    padding: 2vw;
    width: 100%;
}