@font-face {
    font-family: 'HeyComic'; /* Specify a name for your font */
    src: url("../fonts/HeyComic.otf") format('opentype'); /* Specify the path to your .otf font file */
}

body {
    font-family: 'HeyComic';
    /*display: flex;*/
    align-items: center;
    justify-content: center;

    background-color: rgb(69, 33, 69);
    color: #ebebeb;

    overflow-x: hidden;
    overflow-y: hidden;
}

/* QuizContainers and such *//* QuizContainers and such *//* QuizContainers and such *//* QuizContainers and such *//* QuizContainers and such */
/* QuizContainers and such *//* QuizContainers and such *//* QuizContainers and such *//* QuizContainers and such *//* QuizContainers and such *//* QuizContainers and such */
/* QuizContainers and such *//* QuizContainers and such *//* QuizContainers and such *//* QuizContainers and such *//* QuizContainers and such *//* QuizContainers and such */

.quizContainer {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);

}

.question{ 
    width: 90%;

    font-size: 5vw;

    margin: 0 auto; /* Center the div horizontally */

    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */;

    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;  
}

hr {
    margin-top: 5vw;
    width: 100%;
}


.groupTitleContainer {
    padding: 3vw;
    margin-bottom: 1vh;
    font-size: 8vw;

    text-align: center;
}

.groupTitle {
    display: inline-block;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;  
}

.forgetfulFlag_Red {
    width: 13vw;
    height: 13vw;
    position: absolute;

    display: none;
}

.forgetfulFlag_Yellow {
    width: 13vw;
    height: 13vw;
    position: absolute;

    display: none;
}

.inline-image {
    position: absolute; /* Position the image absolutely */
    right: 25vw;
    top: -10vw;
}

.questionImageContainer{
    background-color: #000000;
    width: 100%;
    
    
    margin: 0 auto; 
    margin-bottom: 5vw;

    padding: 1vw;
}

.questionImage{
    display: inline-block; /* Ensure the image behaves as an inline block */
    max-width: 100%; /* Ensure the image takes up the available width */
    max-height: 60vw; /* Ensure the image takes up the available height */
    vertical-align: middle; /* Vertically align the image within the container */

    top: 1vw;
}



/* AFTER Session *//* AFTER Session *//* AFTER Session *//* AFTER Session *//* AFTER Session *//* AFTER Session *//* AFTER Session *//* AFTER Session *//* AFTER Session */
/* AFTER Session *//* AFTER Session *//* AFTER Session *//* AFTER Session *//* AFTER Session *//* AFTER Session *//* AFTER Session *//* AFTER Session *//* AFTER Session *//* AFTER Session *//* AFTER Session *//* AFTER Session */
/* AFTER Session *//* AFTER Session *//* AFTER Session *//* AFTER Session *//* AFTER Session *//* AFTER Session *//* AFTER Session *//* AFTER Session *//* AFTER Session *//* AFTER Session *//* AFTER Session *//* AFTER Session */

.restartContainer{
    position: absolute;
    width: 50%;
    display: flex;
    justify-content: center; /* I have no Idea how this works*/

    left: 50%;
    transform: translate(-50%, 10%);

    display: none;
}

.restartCentered{
    width: 80%; /* Set width to 50% */
}

.restartButton{
    background-color: #2c6b21;
    color: #ffffff;

    padding: 2vw;

    width: 16vw;

    text-decoration: none; 
    font-size: 4vw;

    user-select: none;
}

.goBackButton{
    background-color: #c8c8c8;
    color: #000000;

    padding: 2vw;

    width: 16vw;

    text-decoration: none; 
    font-size: 4vw;

    user-select: none;
}

.goBackButton:hover{
    cursor: pointer;
}

.restartButton:hover{
    cursor: pointer;
}

.flexContainer {
    display: flex;
    width: 100%;
    margin-top: 3vw;
}

.flexItem {
    flex: 1; /* Each item will grow equally to fill the available space */
    padding: 2vw;
    width: 100%;
}


/*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*/
/*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*/
/*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*//*SP EFX*/

.lowHealthEffectsContainer{
    opacity: 1;
}

.lowHealth{
	position: fixed;
	top: 0%;
	left: 0%;
	background-image: linear-gradient(
		to top, 
		rgba(206, 0, 0,0.5) 0%, 
		rgba(255, 0, 0, 0.1) 40%, 
		rgba(255, 0, 0, 0) 50%, 
		rgba(255, 0, 0, 0) 95%, 
		rgba(206, 0, 0,0) 100%
	);
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: 1s;
	opacity: 1;
}

/* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER */
/* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER */
/* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER *//* GAME OVER */

.gameOverBlackScreen{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 100%;

    display: none;

    opacity: 0;
    
    z-index: 5;
}

.gameOverContainer {
    position: absolute;
    width: 80%;
    height: 50%; /* Set height to center vertically */
    top: 50%; /* Position from top */
    left: 50%; /* Position from left */
    transform: translate(-50%, -75%); /* Center horizontally and vertically */
    text-align: center; /* Center text horizontally */

    display: none;
}

/*

.gameOverCharacterContainer{

}
*/

.lightSource{
    background-color: #ffffff;
    width: 100%;
    height: 20vw;
    position: absolute;
    bottom: 0vw;

    border-radius: 100px;
    z-index: -1;
    filter: blur(25px);
}

.gameOverGoBackButton{
    background-color: #c8c8c8;
    color: #000000;

    padding: 2vw;

    width: 16vw;

    text-decoration: none; 
    font-size: 4vw;

    user-select: none;
}

.gameOverButtonContainer{
    display: none;
}

.gameOverRestartButton{
    background-color: #2c6b21;
    color: #ffffff;

    padding: 2vw;

    width: 16vw;

    text-decoration: none; 
    font-size: 4vw;

    user-select: none;
}

.gameOverCharacter{
    width: 100%;
    height: 100%;
}


.gameOverRestartButton:hover{
    cursor: pointer;
}

.gameOverGoBackButton:hover{
    cursor: pointer;
}

.onlyAnswered{
    display: inline-block;
}
